<!-- Navigation-->
<section id="hero" class="hero is-medium">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <h3 class="logo has-text-green is-size-4">HeadlineHero</h3>
                    </a>
                </div>

                <div class="navbar-menu">
                    <% if(!currentUser){ %>
                        <div class="navbar-end">
                            <a class="a-menu is-size-7 navbar-item" href="/billing">
                                Buy Now
                            </a>
                            <a class="a-menu is-size-7 navbar-item" href="/signup">
                                SignUp
                            </a>
                            <a class="a-menu is-size-7 navbar-item" href="/login">
                                Login
                            </a>
                        </div>
                        <% } else {%>
                            <div class="navbar-end">
                                <a class="a-menu is-size-7 navbar-item" href="#">
                                    <%=currentUser.email%>
                                </a>
                                <a class="a-menu is-size-7 navbar-item" href="/logout">
                                Logout
                            </a>
                            </div>
                            <% } %>
                </div>
                <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                    <span></span>
                <span></span>
                <span></span>
                </span>
            </div>
        </nav>
    </div>
</section>
<!-- END Navigation -->