<%- include('partials/header.ejs') %>

<body>

    <%- include('partials/navbar.ejs') %>

    <section class = "centre-div">
        <h1>404 Page Not Found</h1>
        <h2>An unexpected error has occurred. Please contact the site owner.</h2>
    </section>

</body>