<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IDEA</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <form action="/form" class="" method="post">
            <div class="form-group">
                <label>What is your Product?</label>
                <input type="text" name="productName" class="form-control" id="exampleInputEmail" placeholder="Headlime, Sketch" />
            </div>
            <div class="form-group">
                <label>Who's your audience?</label>
                <input type="text" name="audience" class="form-control form-control-user" id="exampleInputPassword"
                    placeholder="Fathers, Doctors">
            </div>
            <div class="form-group">
                <label>What does your audience want?</label>
                <input type="text" name="audienceNeed" class="form-control form-control-user" id="exampleInputPassword"
                    placeholder="Bigger Muscles, Higher Conversion Rate">
            </div>
            <div class="form-group">
                <label>What solution do you offer?</label>
                <input type="text" name="solution" class="form-control form-control-user" id="exampleInputPassword"
                    placeholder="Healthy Food, Faster Website">
            </div>
            <div class="form-group">
                <label>What problem does your audience have?</label>
                <input type="text" name="problem" class="form-control form-control-user" id="exampleInputPassword"
                    placeholder="Low Conversion Rate, High Operating Cost">
            </div>
            <div class="form-group">
                <label>Who is an authority in your industry?</label>
                <input type="text" name="authority" class="form-control form-control-user" id="exampleInputPassword"
                    placeholder="Google, Amazon, Influencers">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-user btn-block" value="Next Step" />
            </div>
        </form>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>