<%- include('partials/header.ejs') %>

    <body>

        <%- include('partials/navbar.ejs') %>

            <!-- Hero -->
            <section id="hero" class="hero is-medium">
                <div class="hero-body columns">
                    <div class="column">
                        <div class="container">
                            <h1 class="headline is-size-1 is-size-3-mobile">
                                On Point Headlines that will make you a copyright master too.
                            </h1>
                            <p class="paragraph">
                                Get access to headlines that not just generates the most traffic, but also gets most shares on social media.
                            </p>
                            <br/>
                            <a class="btn btn-color is-size-7 a-menu" href="/form">
                                try it now
                            </a>
                        </div>
                    </div>
                    <div class="column">
                        <video width="125%" autoplay loop>
                <source src="img/movie.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
                    </div>
                </div>
            </section>
            <!-- END Hero -->

            <!-- Twitter Feed -->
            <section id="twitter-feed" class="section has-white-blue-gradient">
                <div class="container">
                    <div class="columns">
                        <div class="column">
                            <div class="box">
                                <article class="media">
                                    <div class="media-left">
                                        <figure class="image is-64x64 ">
                                            <img src="img/person1.png" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>Kim K.</strong> <small>@kasasagi</small> <small>5m</small>
                                                <br> @HeadlineHero Flawless product!!! Bravo!
                                            </p>
                                        </div>
                                        <nav class="level is-mobile">
                                            <div class="level-left">
                                                <a class="level-item" aria-label="reply">
                                                    <span class="icon is-small">
                                            <i class="fas fa-reply" aria-hidden="true"></i>
                                        </span>
                                                </a>
                                                <a class="level-item" aria-label="retweet">
                                                    <span class="icon is-small">
                                            <i class="fas fa-retweet" aria-hidden="true"></i>
                                        </span>
                                                </a>
                                                <a class="level-item" aria-label="like">
                                                    <span class="icon is-small">
                                            <i class="fas fa-heart" aria-hidden="true"></i>
                                        </span>
                                                </a>
                                            </div>
                                        </nav>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="column">
                            <div class="box">
                                <article class="media">
                                    <div class="media-left">
                                        <figure class="image is-64x64 ">
                                            <img src="img/person2.png" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>Rachel</strong> <small>@bbgathom</small> <small>5m</small>
                                                <br> @HeadlineHero is the answer to all your problems, all praise the #HeadlineHero!
                                            </p>
                                        </div>
                                        <nav class="level is-mobile">
                                            <div class="level-left">
                                                <a class="level-item" aria-label="reply">
                                                    <span class="icon is-small">
                                            <i class="fas fa-reply" aria-hidden="true"></i>
                                        </span>
                                                </a>
                                                <a class="level-item" aria-label="retweet">
                                                    <span class="icon is-small">
                                            <i class="fas fa-retweet" aria-hidden="true"></i>
                                        </span>
                                                </a>
                                                <a class="level-item" aria-label="like">
                                                    <span class="icon is-small">
                                            <i class="fas fa-heart" aria-hidden="true"></i>
                                        </span>
                                                </a>
                                            </div>
                                        </nav>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <p class="is-size-7 has-text-centered headline">See more at #HeadlineHero</p>
                </div>
            </section>
            <!-- END Twitter Feed -->

            <!-- Features -->
            <section id="features" class="section bg-alt">
                <div class="container">
                    <div class="columns reverse-row-order">
                        <div class="column">
                            <h3 class="is-size-3 headline">
                                Choose From Hundreds Of Ready To Use Headlines
                            </h3>
                            <p class="paragraph feature-subtext">
                                Select from thousands of pre-made headline styles , and You'll receive a fully customizable headline formula just for your blog or site right away!
                            </p>
                        </div>
                        <div class="column">
                            <img class="feature-img" src="img/feature1.png" alt="feature" />
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="columns">

                        <div class="column">
                            <img class="feature-img" src="img/feature2.png" alt="feature" />
                        </div>
                        <div class="column">
                            <h3 class="is-size-3">
                                Create beautiful headlines that fit your audience's needs
                            </h3>
                            <p class="paragraph feature-subtext">
                                Create stunning headlines that work with your blog or your own copy writing services
                            </p>
                        </div>

                    </div>
                </div>
                <div class="container">
                    <div class="columns reverse-row-order">

                        <div class="column">
                            <h3 class="is-size-3">
                                Supports a variety of publishing formats such as Blogposts, Landing Page headlines.
                            </h3>
                            <p class="paragraph feature-subtext">
                                and various other stuff.
                            </p>
                        </div>
                        <div class="column">
                            <img class="feature-img" src="img/feature3.png" alt="feature" />
                        </div>
                    </div>
                </div>
            </section>
            <!-- END Features -->

            <!-- Featured -->
            <section class="section">
                <div class="container">
                    <div class="title-wrapper has-text-centered">
                        <h2 class="title is-2 headline">Featured In</h2>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <img src="img/grubspot.svg" />
                        </div>
                        <div class="column">
                            <img src="img/covenent.svg" />
                        </div>
                        <div class="column">
                            <img src="img/covenent.svg" />
                        </div>
                        <div class="column">
                            <img src="img/covenent.svg" />
                        </div>
                    </div>
                </div>
            </section>
            <!-- END Featured -->

            <!-- Pricing  -->
            <section class="section bg-alt">
                <div class="container">
                    <div class="title-wrapper has-text-centered">
                        <h2 class="title is-2 headline">Pricing</h2>
                        <h3 class="subtitle is-5 is-muted paragraph">Get the power of a copywriter for life, without paying their $100 hourly rate.
                        </h3>
                    </div>

                    <div class="content-wrapper">
                        <div class="columns">
                            <div class="column pricing-card bg">
                                <div class="feature-card is-bordered has-text-centered">
                                    <div class="card-title">
                                        <h1>Monthly</h1>
                                        <h2><strong>9$</strong></h2>
                                    </div>
                                    <div class="card-text pricing-features">
                                        <ul class="pricing-features">
                                            <li>
                                                <img src="https://img.icons8.com/flat_round/64/000000/checkmark.png" width="15px" /> Cancel Any time
                                            </li>
                                            <li>
                                                <img src="https://img.icons8.com/flat_round/64/000000/checkmark.png" width="15px" /> Hundreds of headlines
                                            </li>
                                            <li>
                                                <img src="https://img.icons8.com/flat_round/64/000000/checkmark.png" width="15px" /> Tested to ensure quality
                                            </li>
                                            <li>
                                                <img src="https://img.icons8.com/flat_round/64/000000/checkmark.png" width="15px" /> Save 20% yearly
                                            </li>
                                            <li>
                                                <img src="https://img.icons8.com/flat_round/64/000000/checkmark.png" width="15px" /> Lifetime money back guarantee
                                            </li>
                                        </ul>
                                    </div>
                                    <br/>
                                    <div class="card-action">
                                        <a class="button is-primary btn-align-md accent-btn raised" href="/billing">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="column pricing-card2 bg">
                                <div class="feature-card is-bordered has-text-centered">
                                    <div class="card-title">
                                        <h1>Monthly</h1>
                                        <h2><strong>9$</strong></h2>
                                    </div>
                                    <div class="card-text pricing-features">
                                        <ul class="pricing-features">
                                            <li>
                                                <img src="https://img.icons8.com/flat_round/64/000000/checkmark.png" width="15px" /> Cancel Any time
                                            </li>
                                            <li>
                                                <img src="https://img.icons8.com/flat_round/64/000000/checkmark.png" width="15px" /> Hundreds of headlines
                                            </li>
                                            <li>
                                                <img src="https://img.icons8.com/flat_round/64/000000/checkmark.png" width="15px" /> Tested to ensure quality
                                            </li>
                                            <li>
                                                <img src="https://img.icons8.com/flat_round/64/000000/checkmark.png" width="15px" /> Save 20% yearly
                                            </li>
                                            <li>
                                                <img src="https://img.icons8.com/flat_round/64/000000/checkmark.png" width="15px" /> Lifetime money back guarantee
                                            </li>
                                        </ul>
                                    </div>
                                    <br/>
                                    <div class="card-action">
                                        <a class="button is-primary btn-align-md accent-btn raised" href="/billing">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="column pricing-card bg">
                                <div class="feature-card is-bordered has-text-centered">
                                    <div class="card-title">
                                        <h1>Monthly</h1>
                                        <h2><strong>9$</strong></h2>
                                    </div>
                                    <div class="card-text pricing-features">
                                        <ul class="pricing-features">
                                            <li>
                                                <img src="https://img.icons8.com/flat_round/64/000000/checkmark.png" width="15px" /> Cancel Any time
                                            </li>
                                            <li>
                                                <img src="https://img.icons8.com/flat_round/64/000000/checkmark.png" width="15px" /> Hundreds of headlines
                                            </li>
                                            <li>
                                                <img src="https://img.icons8.com/flat_round/64/000000/checkmark.png" width="15px" /> Tested to ensure quality
                                            </li>
                                            <li>
                                                <img src="https://img.icons8.com/flat_round/64/000000/checkmark.png" width="15px" /> Save 20% yearly
                                            </li>
                                            <li>
                                                <img src="https://img.icons8.com/flat_round/64/000000/checkmark.png" width="15px" /> Lifetime money back
                                            </li>
                                        </ul>
                                    </div>
                                    <br/>
                                    <div class="card-action">
                                        <a class="button is-primary btn-align-md accent-btn raised" href="/billing">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END Pricing -->

            <%- include('partials/footer.ejs') %>