<%- include('partials/header.ejs') %>

<body class="auth-bg">
  <%- include('partials/navbar.ejs') %>

  <section class="has-text-centered">
    <div class="column is-4 is-offset-4">
      <div class="box-form">
        <p class="subtitle is-4 headline">Create an Account</p>
        <br />
        <% if (message.length > 0) { %>
        <div class="notification is-danger"><%= message %></div>
        <% } %>
        <br />
        <form action="/signup" method="post">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input
                class="input is-medium"
                type="email"
                placeholder="Email"
                name="email"
                required
              />
              <span class="icon is-medium is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input
                class="input is-medium"
                type="password"
                placeholder="Password"
                name="password"
                required
              />
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <input
            class="button is-block is-primary is-large is-fullwidth"
            type="submit"
            value="SIGNUP"
          /><br />
        </form>
      </div>
    </div>
  </section>

  <%- include('partials/footer.ejs') %>
  
</body>
