.auth-bg {
    overflow-y: hidden !important;
    background-image: url('../img/background.jpg') !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box {
    background-color: rgba(255, 255, 255, 0.1);
}

input {
    font-weight: 300;
}

p {
    font-weight: 700;
}

p.subtitle {
    padding-top: 1rem;
}

a {
    color: #fff;
}

a:hover {
    color: #bababa;
}

.navbar-div {
    padding-top: 2%;
}